<h1><%= @list.name %></h1>

<hr/>
<br/>

<% if @list.tasks.incomplete.empty? %>
	<h3 class="no_tasks">No tasks yet...</h3>
<% else %>
	<table class="tasks">
		<% @list.tasks.incomplete.each do |task| %>
		<tr>
			<td width="*"><%= task.description %></td>
			<td><%= button_to 'Complete', complete_task_path(@list.id,task.id) %></td>
		</tr>
		<% end %>
	</table>
<% end %>

<%= form_for [@list, @list.tasks.new] do |form| %>
	<p><%= form.text_field :description %> <%= form.submit %></p>
<% end %>

<br/>
<hr/>

<%= link_to 'Back to all lists', lists_path, class: 'back_link' %>
<div class="clear"></div>