<h2><%= @list.name %></h2>

<% if @list.tasks.empty? %>
<p>No tasks yet...</p>
<% else %>

<h3>Stuff to do</h3>
<ul>
	<% @list.tasks.incomplete.each do |task| %>
		<li>
			<p>
				<%= task.description %>
				<%= button_to 'Complete', complete_task_path(@list.id,task.id) %>
			</p>
		</li>
	<% end %>
</ul>

<h3>Stuff I've done</h3>
<% if @list.tasks.completed.empty? %>
<p>Nothing done yet</p>
<% else %>
<ul>
	<% @list.tasks.completed.each do |task| %>
		<li>
			<p>
				<%= task.description %>
			</p>
		</li>
	<% end %>
</ul>
<% end %>


<% end %>

<%= form_for [@list, @list.tasks.new] do |form| %>
	<p><%= form.text_field :description %> <%= form.submit %></p>
<% end %>

<hr/>
<%= link_to 'Back to all lists', lists_path %>