<%= render 'main/header' %>
<h1><%= @list.name %></h1>

<hr/>
<br/>

<% if @list.tasks.incomplete.empty? %>
	<h3 class="no_tasks">No tasks yet...</h3>
<% else %>
	<ul class="tasks">
		<% @list.tasks.positioned.incomplete.each do |task| %>
			<li id="task_<%=task.id%>">
				<%= hidden_field_tag 'list_id', @list.id %>
				<%= hidden_field_tag 'task_id', task.id %>
				<span class="handle">[=]</span>
				<%= link_to 'Complete', complete_task_path(@list.id,task.id), class: 'complete_button' %>
				<p><%= task.description %></p>
			</li>
			
		<% end %>
	</ul>
<% end %>

<%= form_for [@list, @list.tasks.new] do |form| %>
	<p><%= form.text_field :description %> <%= form.submit %></p>
<% end %>

<br/>
<hr/>

<%= link_to 'Back to all lists', lists_path, class: 'back_link' %>
<div class="clear"></div>