<!DOCTYPE html>
<html>
<head>
  <title>Todoodly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="wrap">
		<% if flash[:notice] %>
			<div class="notice margin-bottom">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
		
		<% if flash[:error] %>
			<div class="error margin-bottom">
				<p><%= flash[:error] %></p>
			</div>
		<% end %>
			
		<%= yield %>
	</div>

</body>
</html>
